fastapi
uvicorn
pinecone-client
google-generativeai
sentence-transformers
requests
python-multipart
python-dotenv
pypdf
weaviate-client

beautifulsoup4
tqdm
streamlit
openai
protobuf
pydantic
torch
numpy
pandas
tiktoken
transformers
plotly